/*font-family: 'Prompt', sans-serif;
font-family: 'Baloo Paaji', cursive;*/
/*generales*/
	h1, h2, h3, h4, h5, h6{
		font-family: 'Baloo Paaji', cursive;
		color: #f48fb1;
		margin: 0;
		padding: 20px 20px 0px 20px;
		text-align: center;
	}

/*MENU*/
.menu{
	background-color: #2196f3;
}
.menu ul li{
	list-style: none;
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	padding: 20px 10px;
}
.logo{
	margin: 0;
	padding: 0;
}
.logo span{
	color: #fff;
	font-family: 'Baloo Paaji', cursive;
}
.menu ul li a:hover{
	background-color: #f48fb1;
}

/*Header*/
header {
	background-image:  url(../img/img-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}
.soft-container{
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}
.soft-bunny{
	background-color: rgba(33,150,243, 0.7);
	padding: 30px;
}
.soft-bunny p{
	color: #fff;
	font-style: italic;
}
.soft-bunny h1{
	font-size: 60px;
}

/*Bunny Tales*/
.bunny-tales{
	background-color: #fff;
}
.tales{
	background-color: #2196f3;
	text-align: center;
	height: 370px;
}
.tales p{
	color: #fff;
	font-size: 12px;
	padding: 15px;
	margin-top: 0;
}
.tales h4{
	padding: 10px;
	font-size: 15px;
	margin-bottom: 0;
}

/*News*/
.news{
	background-color: #2196f3;
	padding: 10px 5px; 	
	box-sizing: border-box;
}
.right-article p{
	font-size: 15px;
	font-weight: 400;
	padding: 10px 20px;
	margin: 0;
}
.year{
	color: black;
	font-family: 'Baloo Paaji', cursive;
	margin: 0;
}
.social-ntw{
	text-align: center;
}
.social-ntw i{
	color: #2196f3;
	background-color: #fff;
	border-radius: 100%;
	padding: 10px;
	margin: 0 5px 10px;
}
/*left-article section*/
.search{
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	background-color: #E1F3E9;
	border-radius: 10px;
	margin-bottom: 10px;
}
.search input{
	width: 95%;
	border-radius: 5px;
	border: none;
	padding: 10px;
}
.find, .love, .right-article{
background-color: #E1F3E9;
}
.find{
	margin-bottom: 20px;
}

.find p , .love p{
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 400;
}
/*Footer*/
.footer-bunny{
	margin-top: 20px;
}
.bunnies{
	background-image: url(../img/bunny-head.png);
	background-repeat: repeat;
	background-size: contain;
	height: 100px;
}
.real-footer{
	border-top: 4px solid #f48fb1;
	background-color: #2196f3;
	padding: 10px 0px;
	text-align: center;
}
.real-footer p{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
}